body {
    background: url('/static/images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #1a237e;
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 150px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .logo {
    width: 80px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  .login-btn {
    width: 95%;
    padding: 10px;
    background: #2962ff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .register-btn {
    width: 95%;
    padding: 10px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  .confirmation-box {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
  }
  
  .confirmation-box .icon {
    font-size: 50px;
    color: #224fd8;
    margin-bottom: 10px;
  }
  
  .confirmation-box h2 {
    color: #224fd8;
    margin-bottom: 10px;
  }
  
  .confirmation-box p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .btn-continue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #224fd8;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .btn-continue:hover {
    background-color: #224fd8;
  }
  