<!-- templates/faculty_portal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Faculty Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Faculty Login</h2>
    <form method="POST" action="/login">
      <input type="hidden" name="role" value="Faculty">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="btn">Log In</button>
    </form>
    
   
  </div>
</body>
</html>
